@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
  --green: #214d12;
  --blue: #333568;
  --orange: #f26f20;
  --white: #ffffff;
  --lightGreen: #4e7141;
  --darkGreen: #0e350c;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "montserrat", "sans-serif";
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

li {
  text-decoration: none;
}
body {
  background-color: #eef2e6;
}

.profileHeader {
  color: var(--white);
}

h2 {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  color: var(--blue);
}

p {
  line-height: 1.3;
}

/* DarkMode */

.dark {
  background-color: #051204;
  color: white;
}

.dark h1 {
  color: white;
}

.dark h2 {
  color: white;
}

.dark h3 {
  color: white;
}

.dark form {
  background-color: var(--darkGreen);
}

.dark input {
  background-color: #051204;
  color: white;
  border: 1px solid var(--darkGreen);
}

.dark header {
  background-color: var(--darkGreen);
}

.dark select {
  background-color: #051204;
  color: white;
}

.dark footer {
  background-color: var(--darkGreen);
}

.dark nav {
  background-color: var(--darkGreen);
}

.dark p {
  color: var(--white);
}

.dark article {
  background-color: var(--darkGreen);
}
