@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
  --green: #214d12;
  --blue: #333568;
  --orange: #f26f20;
  --white: #ffffff;
  --lightGreen: #4e7141;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "montserrat", "sans-serif";
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

body {
  background-color: #eef2e6;
}

h2 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: var(--blue);
}

p {
  line-height: 1.3;
}
