.plantImg {
  width: 250px;
  border-radius: 10px;
  position: relative;
}

.plantImgDetail {
  width: 400px;
  border-radius: 10px;
}

.plantContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 3rem;
}

.plantItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.plantItem p {
  text-align: center;
  text-decoration: none;
  background: rgba(33, 77, 18, 0.6);
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: 0 0px 10px 10px;
  color: var(--white);
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  text-align: center;
  color: var(--blue);
  margin: 2.5rem 0;
  font-size: 2rem;
}

.container {
  gap: 6rem;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}

.link {
  text-align: center;
  text-decoration: none;
  color: var(--black);
}

.detailpageContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  margin: 3rem 0;
}

.paragraph {
  width: 30rem;
}

.header {
  text-align: center;
  margin: 3rem 0;
}

.plantContent {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  flex-direction: column;
  gap: 2rem;
  align-self: flex-start;
}

.plantContent div p {
  width: 35rem;
}

.button {
  background-color: var(--lightGreen);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 2rem;
  cursor: pointer;
}

.formContainer {
  width: 300px;
}

.form {
  /* align-self: flex-start; */
  display: flex;
  flex-direction: column;

  justify-content: space-between;

  /* height: 450px; */
  background-color: var(--blue);
  width: 100%;

  border-radius: 0px 0px 10px 10px;
}

.form h2 {
  color: var(--white);
  margin: 1rem 1rem;
}

.form label {
  color: var(--white);
  margin: 0 2rem;
}

.form div {
  display: flex;
  gap: 0.2rem;
  flex-direction: column;
  margin: 1rem 0;
}
.form button {
  background-color: var(--white);
  padding: 1rem 2rem;
  width: 200px;
  align-self: center;
  color: var(--blue);
  border: none;
  border-radius: 5px;
  font-weight: bold;
  margin: 1rem 0;
}

.form button:hover {
  background-color: var(--orange);
  cursor: pointer;
  color: var(--white);
}

.form input {
  height: 1.5rem;
  padding-left: 0.5rem;
  margin: 0 2rem;
  border: none;
}

@media (max-width: 40rem) {
  .paragraph {
    width: 20rem;
  }

  .plantContent {
    align-items: center;
  }
  .plantContent div p {
    width: 20rem;
  }

  .plantImgDetail {
    width: 300px;
  }

  .header {
    font-size: 1.8rem;
  }
}
