.themeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

.themeContainer button {
  border: none;
}

.profile {
  margin: 3rem auto;
  text-align: center;
}

.profileHeader {
  text-align: center;
  color: var(--blue);
  margin: 2.5rem 0;
  font-size: 2rem;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  margin-bottom: 8rem;
}

.darkMode {
  position: relative;
  width: 70px;
  height: 37px;
  display: block;
  background: var(--lightGreen);
  border-radius: 100px;
  cursor: pointer;
}

.darkModeEnabled {
  position: relative;
  width: 70px;
  height: 37px;
  display: block;
  background: var(--blue);
  border-radius: 100px;
  cursor: pointer;
}

.darkMode:after {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  background: #f2f2f2;
  border-radius: 100px;
  top: 10px;
  left: 10px;
  transition: 0.5s;
}

.darkModeEnabled:after {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  background: var(--white);
  border-radius: 100px;
  top: 10px;
  right: 10px;
  transition: 0.5s;
}

.darkModeInput {
  display: none;
}

.container div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container div:last-child h3 {
  color: var(--blue);
  font-size: 1rem;
}

.container div:last-child h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  /* color: var(--blue); */
}

.container div h3 {
  color: var(--blue);
}

.plantContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-bottom: 3rem;
  height: 100%;
  width: 80vw;
}
.plantImg {
  width: 250px;
  border-radius: 10px;
  position: relative;
}

.plantItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.plantName {
  text-align: center;
  text-decoration: none;
  background: rgba(33, 77, 18, 0.6);
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: 0 0px 10px 10px;
  color: var(--white);
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.favoritesBtn {
  position: absolute;
  top: 0;
  background: none;
  border: none;
  cursor: pointer;
  right: 0;
  padding: 0.2rem;
}

.category {
  font-size: 0.8rem;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  text-decoration: none;
  background: rgba(33, 77, 18, 0.6);
  color: var(--white);
  border-radius: 10px 0 10px 0;
}

.remove {
  font-size: 0.8rem;
  position: absolute;
  right: 0;
  top: 0;
  height: 2.5rem;
  width: 2.5rem;
  text-decoration: none;
  background: rgba(33, 77, 18, 0.6);
  color: var(--white);
  border-radius: 0px 10px 0px 10px;
}
