.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
  padding: 0 2rem;
  background-color: var(--lightGreen);
  position: relative;
  z-index: 1;
}

.socials {
  color: var(--white);
  text-align: center;
}

.buurtcampusFooter {
  /* align-self: flex-end; */
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  width: 70%;
  /* height: 75%; */
  opacity: 60%;
  z-index: -10;
}

.buurtcampusLogo {
  /* width: 20rem; */
  background-color: var(--white);
  padding: 1rem;
  border-radius: 10px;
}

.footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.footer ul li img {
  height: 2rem;
  /* width: auto; */
}

@media (max-width: 40rem) {
  .buurtcampusLogo {
    width: 15rem;
    margin-bottom: 20px;
  }

  .footer {
    flex-direction: column;
  }
  .footer ul li img {
    height: 1.5rem;
  }

  .socials {
    margin-top: 0.5rem;
  }

  .buurtcampusFooter {
    height: auto;
    width: 95%;
  }
}
